# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

/uploads
/doc

# misc
.db
.DS_Store
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

*.bak
*.db
*.sqlite
*.sqlite3

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
# yarn.lock

tmuxlaunch.sh
.eslintcache