.userregister_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10px;
  background: #5d7398;
}

.userregister_form {
  padding: 25px;
  background: #fff;
  max-width: 400px;
  width: 480px;
  border-radius: 7px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}
.UserRegister {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
